@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@100&display=swap');

body
{
    margin: 0;
    background-color: #1e1e1e;
}
a
{
    text-decoration: none;
    color: white;
}
header
{
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-family: Montserrat, sans-serif;
    color: #c8c2ff;
    padding: 1.5% 0 1.5% 7%;
    background-color: #28262e;
}
img.a
{
    margin-right: 1vw;
    border-radius: 50%;
    box-shadow: 0 0 1vw #43434e;
    transition: box-shadow 2s;
    width: 4vw;
}
img.a:hover
{
    box-shadow: 0 0 2vw #616170;
}
span.a
{
    margin-left: auto;
}
span.b
{
    margin-right: 6%;
}
#button
{
    padding: 0.9vw 1.9vw;
    border-radius: 0.5vw;
    margin: 0.2%;
    font-size: 1vw;
    transition: background-color 0.2s;
    border: 0.1vw solid #ffffff;
    width: 8vw;
    text-align: center;
}
#button:hover
{
    background-color: #ffffff;
    color: #28262e;
    cursor: pointer;
}
#invite
{
    background-color: #424270;
    padding: 1vw 1.8vw 1vw 1.8vw;
    border-radius: 0.5vw;
    margin: 1vw;
    font-size: 1vw;
    cursor: pointer;
    width: 7.5vw;
    text-align: center;
    transition: background-color 0.2s !important;
}
#invite:hover 
{
    background-color: #292965;
}
span.c
{
    background: -webkit-linear-gradient(#ffffff, #bdbdbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3%;
}
.css-transitions-only-after-page-load * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
article
{
    margin: 5% 0 2.4vw 10%;
}
#left_article
{
    font-family: Montserrat, sans-serif;
    font-size: 4vw;
    float: left;
}
span.e
{
    background: -webkit-linear-gradient(#ffffff, #bdbdbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.d
{
    background: -webkit-linear-gradient(#afb0ff, #8678c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#list
{
    margin: 0 0 2.4vw 7vw;
    float: left;
    background-color: #424270;
    border-radius: 2vw;
    color: white;
    font-family: Montserrat, sans-serif;
    padding: 1.2vw;
    font-size: 3vw;
    transition: background-color 1s;
}
#stat
{
    color: white;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #181818;
    border-radius: 0.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
}
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td, th, tr
{
    padding: 0.2vw;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-right: 2vw;
    font-size: 1vw;
}
tr:nth-child(even)
{
    background-color: #0000001a;
}
span.f
{
    font-size: 0.8vw;
}
html
{
    scroll-behavior: smooth;
}
#fbox
{
    background-color: #424270;
    border-radius: 1vw;
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 2vw;
    padding: 2vw 1vw;
    margin: auto;
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-bottom: 5vw;
}
#list2
{
    padding-top: 2vw;
    background-color: #34343b;
}
span.h
{
    background-color: #5e548a;
    border-radius: 50%;
    padding: 1vw;
}
span.i
{
    background-color: #5e548a;
    padding: 1vw 1.4vw;
    border-radius: 50%;
}
span.j
{
    font-size: 1.4vw;
    color: #bebed3;
}
#stats
{
    float: left;
    margin-right: 3vw;
}
#stat
{
    margin-left: 5vw;
    margin-top: 5vw;
    position: absolute;
}

header h1
{
    background: -webkit-linear-gradient(#ffffff, #bdbdbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3%;
    font-family: Montserrat, sans-serif;
    font-size: 4vw;
    float: left;
    text-align: center;
}
#features
{
    display: flex;
}

header.b
{
    float: left;
    padding: 7%;
}
#f_list
{
    background-color: #34343b;
    float: left;
    width: 100%;
}
#feature i
{
    float: left;
    font-size: 5vw;
    margin-right: 2%;
}
#description
{
    float: left;
}
#description h1
{
    margin: 0;
    font-size: 2vw;
    font-family: Montserrat, sans-serif;
}
#description p
{
    margin: 0;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
}
#feature
{
    align-items: center;
    display: flex;
    color: white;
    margin: 5% 18%;

}
::-webkit-scrollbar
{
  width: 0.8vw;
  background: #45494e; 
}
::-webkit-scrollbar-thumb
{
  background: #28262E;
}
#description a
{
    text-decoration: underline dotted;
    cursor: help;
}
header.c
{
    background-color: #00000000;
    display: grid;
    padding: 2vw 0;
}
header.c h1
{
    display: inline;
    padding: 0;
    margin: 0;
    padding: 0;
}
#images img
{
    float: left;
}
#gallery
{
    margin: auto;
    width: 80%;
}
img.b
{
    width: 30%;
}
img.c
{
    width: 70%;
}
img.d
{
    width: 45%;
}
img.e
{
    width: 55%;
}
footer
{
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-family: Montserrat, sans-serif;
    color: #c8c2ff;
    padding: 1.5% 0 1.5% 7%;
    background-color: #28262e;
}
footer h1
{
    background: -webkit-linear-gradient(#ffffff, #bdbdbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3%;
    font-family: Montserrat, sans-serif;
    font-size: 4vw;
    float: left;
    text-align: center;
}
footer.b
{
    float: left;
    padding: 7%;
}
ul
{
    margin: 0;
}
span.fb
{
    margin-right: 16%;
}
#features.b
{
    margin-top: 5%;
}
#features.b header.b
{
    padding: 0 7%;
}
#feature.b
{
    margin: 5% 20%;
}
#feature.b i
{
    margin-right: 8%;
}
#change
{
    float: left;
    width: 25%;
    padding: 2%;
    background-color: #181818;
    border-radius: 3vw;
    margin: 2%;
}
#change h1, #change p, #change ol, #change ul, #change li
{
    color: white;
    font-size: 2vw;
    margin: 0;
}
#change p, #change ol, #change ul, #change li
{
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}
#changes
{
    margin: 0% 2%
}