@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

a {
    color: white;
    text-decoration: none;
}
body {
    margin: 0;
    background-color: #22272E;
    font-family: 'Open Sans', sans-serif;
}
div.footer {
    color:white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(171, 76, 235) 0%, rgb(255, 89, 89) 100%);
    padding: 5pt;
    font-weight: 400;
    font-size: 9pt;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.button {
    border: solid 1px;
    border-radius: 5px;
    padding: 2px 7px 2px 4px;
    margin: 0 5px;
    font-size: 10pt;
    font-weight: 800;
    width: 80px;
}
button.remove {
    color:white;
    right: 0;
    position: absolute;
    margin-right: 10px;
    background: none;
    border: 0;
    cursor: pointer;
}
.hidden {
    display: none;
}
header
{
    background-color: #1E2228;
    padding: 3px;
    display: flex;
    align-items: center;
}
.logo {
    border-radius: 50%;
    width: 50px;
    padding: 9px;
    margin-left: 10%;
}
.title
{
    margin: -6px 0;
}
h1.title
{
    font-weight: 800;
    font-size: 24px;
    background: -webkit-linear-gradient(#eee, #999);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
p.title
{
    font-weight: 600;
    font-size: 10px;
    color: #777
}
#items
{
    right: 0;
    position: absolute;
    margin-right: 10%;
    display: flex;
    
}
.buttonPage
{
    color: #ffffff99;
    transition-duration: 0.3s;
    margin-left: 30px;
}
.buttonPage:hover
{
    color: #ffffff;
}
#items.small
{
    color: #ffffff99;
    transition-duration: 0.3s;
}
#items.small:hover
{
    color: #ffffff;
}
button.clear
{
    background: none;
    border: none;
    color: #ffffff99;
    transition-duration: 0.3s;
    cursor: pointer;
    transform:translate(0, 2px); 
}
button.clear:hover
{
    color: #ffffff;
}
#dropdown
{
    float: right;
    margin-right: 2%;
    display: none;
    background-color:#1E2228;
    z-index: 1;
}
#dropdown div
{
    padding: 7pt 25pt 12pt 1pt;
}
#left
{
    float:left;
    width: 50%;
}
h1.left
{
    font-size:33pt;
    background: -webkit-linear-gradient(#fff, #ccc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
h4.left
{
    color:#bbb;
    font-weight: 600;
    font-size: 15pt;
}
#titleleft
{
    margin: 15% 0 0 23%;
}
#buttons
{
    margin: 40pt 0 100pt 0
}
.buttonTitle {
    border-radius: 2px;
    padding: 12px 24px;
    margin: 5px 20px 0 0;
    font-weight: 700;
    white-space: nowrap;
}
.invi {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: 0px 0px 16px 2px #FBAB7E;
}
.dash {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    box-shadow: 0px 0px 16px 2px #89c4eb;
}
@media screen and (max-width: 1100px) {
    #items.small {
        display: flex;
    }
    #items.large, #right {
        display: none;
    }
    #left {
        width: 75%;
    }
    #footer
    {
        display: none;
    }
}
@media screen and (min-width: 1100px) {
    #items.small, .hidesmall {
        display: none;
    }
    #items.large, #right {
        display: flex;
    }
    #left {
        width: 50%;
    }
    #footer
    {
        display: flex;
    }
}
#gallery
{
    clear:both;
    background-color: #1E2228;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: -210px;
}
.tobiasglow
{
    width: 690px;
    margin-top: -4vw;
    mix-blend-mode: screen;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    pointer-events: none;
}
 
@keyframes swing {
    0% { margin-top: -4vw; }
    100% { margin-top: -6vw; }
}
#gHead
{
    text-align: center;
    font-weight: 800;
    padding: 30px;
    font-size: 44px;
    background: -webkit-linear-gradient(#eee, #999);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar{
    width: 0.8vw;
    background: #45494e; 
}
::-webkit-scrollbar-thumb{
    background-color:#8e8e8e;
    border: 0.2vw solid #424242;
    border-radius:8px;
}
#teamMembers
{
    display: flex;
    justify-content: center
}
#teamMembers div
{
    background-color: #22272E;
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 200px;
    float: left;
}
#teamMembers div img
{
    width: 100%
}
h6, p {
    margin: 2px;
}
h6 {
    font-size: 9pt;
}